# CISC 843 Data Mining: Assignment 1

Before we start the assignment, we'll need to install the necessary packages

In [ ]:
# Uncomment the following if using anaconda. PIP version should be simple to figure out as well
#!conda activate venv
#!conda install pandas scikit-learn sea-born

Next we can import the packages

In [6]:
import pandas as pd
import sklearn
import seaborn

## Data Loading

We'll load in our dataset using Pandas. Its a big dataset with 7631 rows and 102 columns

In [11]:
df = pd.read_csv('https://github.com/CISC-873/Information-2021/releases/download/data/a0.csv')
df.shape

(7631, 102)

Let's try one approach at printing the dataset

In [5]:
print(df)

                                listing_url last_scraped  \
0     https://www.airbnb.com/rooms/31864146   2019-11-19
1      https://www.airbnb.com/rooms/6909303   2019-11-19
2     https://www.airbnb.com/rooms/28134621   2019-11-19
3     https://www.airbnb.com/rooms/14663561   2019-11-19
4     https://www.airbnb.com/rooms/29624074   2019-11-19
...                                     ...          ...
7626  https://www.airbnb.com/rooms/35289669   2019-11-19
7627  https://www.airbnb.com/rooms/12111987   2019-11-19
7628  https://www.airbnb.com/rooms/27225629   2019-11-19
7629  https://www.airbnb.com/rooms/29597722   2019-11-19
7630   https://www.airbnb.com/rooms/9412601   2019-11-19

                                                   name  \
0        1400 sqf, sleeps 8, heart of MTL, with balcony
1                     *** Lovely apartment downtown ***
2           Appartement chaleureux près du centre-ville
3      Beautiful, spacious (1076 sc ft) and quiet condo
4                    Grand Appartement à louer à Verdun
...                                                 ...
7626          Un grand 4 et demi tout inclut à Rosement
7627                        Fantastic view on the River
7628        Cozy, beautiful and spacious. Near downtown
7629  Cozy Flat at DT!Steps to Congress&OldPort!Parking
7630                 Airy, stylish condo on the Plateau

                                                summary  \
0     Spacious, sunny and cozy modern apartment in t...
1     Located in one of the most vibrant and accessi...
2     Logement coquet et douillet à 10 minutes du ce...
3     Beautiful and spacious (1076 sc ft, / 100 mc) ...
4     Très grand appartement ''rustique'' et très ag...
...                                                 ...
7626  Un grand logement 4 et 1/2, tout inclut, bien ...
7627  Magnificent condo directly on the river. You w...
7628  This apartment is perfect for anyone visiting ...
7629  It is a cozy ,clean ,and comfortable apartment...
7630  Modern country style (newly-renovated); open c...

                                                  space  \
0     Design by an interior decorator born and raise...
1     This condo (700 s.f) has a closed bedroom plus...
2     Vous aurez accès au logement en entier pour y ...
3     Surface area of 100 mc (1076 Sq Ft) Access to ...
4     Nous sommes super proche du bord du Fleuve et ...
...                                                 ...
7626                                                NaN
7627  Weekly rentals only. No smoking. Calm place wi...
7628                                                NaN
7629  Steps away from : •Place des arts •Old port •C...
7630                                                NaN

                                            description experiences_offered  \
0     Spacious, sunny and cozy modern apartment in t...                none
1     Located in one of the most vibrant and accessi...                none
2     Logement coquet et douillet à 10 minutes du ce...                none
3     Beautiful and spacious (1076 sc ft, / 100 mc) ...                none
4     Très grand appartement ''rustique'' et très ag...                none
...                                                 ...                 ...
7626  Un grand logement 4 et 1/2, tout inclut, bien ...                none
7627  Magnificent condo directly on the river. You w...                none
7628  This apartment is perfect for anyone visiting ...                none
7629  It is a cozy ,clean ,and comfortable apartment...                none
7630  Modern country style (newly-renovated); open c...                none

                                  neighborhood_overview  \
0     I have no problem saying out loud that this is...
1     Great neighbourhood, walking distance from Pee...
2                                                   NaN
3                                                   NaN
4     Berges du Fleuve Saint-Laurent Berges du Fleuv...
...                                                 ...
7626  Grand parc en face, d’autre à proximité, jardi...
7627  Since you are directly located on the parc, yo...
7628                                                NaN
7629  Less than 5mins by walk from you are looking f...
7630                                                NaN

                                                  notes  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4     La machine à laver et la sécheuse sont au sous...
...                                                 ...
7626                                                NaN
7627  There are a lot of waterfowl on the river (gee...
7628                                                NaN
7629  Make yourself at home! You are welcome to use ...
7630                                                NaN

                                                transit  ...  \
0                                                   NaN  ...
1          Bonaventure metro station Bus Public parking  ...
2     L’autobus 32 passe au coin, à 1min. de marche ...  ...
3                                                   NaN  ...
4     en Auto Il n'y a pas de parking à la maison.  ...  ...
...                                                 ...  ...
7626  Arrêt de bus devant la porte, métro viau et pi...  ...
7627  You are at 3 minutes walk to the direct bus li...  ...
7628                                                NaN  ...
7629  Getting around ,it is extremely close to 3 met...  ...
7630                                                NaN  ...

              cancellation_policy require_guest_profile_picture  \
0                        moderate                             f
1     strict_14_with_grace_period                             f
2     strict_14_with_grace_period                             f
3                        flexible                             f
4                        moderate                             f
...                           ...                           ...
7626  strict_14_with_grace_period                             f
7627                     moderate                             f
7628  strict_14_with_grace_period                             f
7629  strict_14_with_grace_period                             f
7630                     flexible                             f

     require_guest_phone_verification  calculated_host_listings_count  \
0                                   f                               7
1                                   f                               1
2                                   f                               1
3                                   f                               1
4                                   f                               3
...                               ...                             ...
7626                                f                               1
7627                                f                               1
7628                                f                               1
7629                                f                               5
7630                                f                               2

      calculated_host_listings_count_entire_homes  \
0                                               7
1                                               1
2                                               1
3                                               1
4                                               1
...                                           ...
7626                                            1
7627                                            1
7628                                            1
7629                                            5
7630                                            2

     calculated_host_listings_count_private_rooms  \
0                                               0
1                                               0
2                                               0
3                                               0
4                                               2
...                                           ...
7626                                            0
7627                                            0
7628                                            0
7629                                            0
7630                                            0

      calculated_host_listings_count_shared_rooms  reviews_per_month  \
0                                               0               5.28
1                                               0               0.15
2                                               0               0.44
3                                               0               2.38
4                                               0               1.11
...                                           ...                ...
7626                                            0               0.53
7627                                            0               0.02
7628                                            0               0.38
7629                                            0               5.13
7630                                            0               0.05

     price_rating     Id
0               1  14664
1               0   2542
2               1  13004
3               1   5756
4               0  13635
...           ...    ...
7626            0  16539
7627            2   4308
7628            1  12481
7629            0  13627
7630            1   3517

[7631 rows x 102 columns]

Hmm, printing the dataframe directly works but it doesn't really render the data in a way that is easy for humans to read or analyze. Luckily there a few other approaches. Let's try the `df.describe` method

In [3]:
df.describe()

,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price_rating,Id
count,0.0,0.0,0.0,7.631000e+03,0.0,7629.000000,7629.000000,0.0,7631.000000,7631.000000,...,7631.000000,7629.000000,0.0,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000,7631.000000
mean,NaN,NaN,NaN,7.729931e+07,NaN,14.322847,14.322847,NaN,45.516315,-73.589346,...,9.664657,9.432822,NaN,5.908531,5.020705,0.711964,0.051369,1.531162,0.442537,9636.966846
std,NaN,NaN,NaN,8.141532e+07,NaN,91.178241,91.178241,NaN,0.030925,0.042372,...,0.689070,0.902338,NaN,17.950559,17.850555,2.078313,0.692580,1.871970,0.611870,5576.696895
min,NaN,NaN,NaN,2.277000e+03,NaN,0.000000,0.000000,NaN,45.404540,-73.951930,...,2.000000,2.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000
25%,NaN,NaN,NaN,1.224305e+07,NaN,1.000000,1.000000,NaN,45.498330,-73.602985,...,9.000000,9.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.220000,0.000000,4927.500000
50%,NaN,NaN,NaN,4.290398e+07,NaN,1.000000,1.000000,NaN,45.519820,-73.579930,...,10.000000,10.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.760000,0.000000,9660.000000
75%,NaN,NaN,NaN,1.266535e+08,NaN,4.000000,4.000000,NaN,45.534180,-73.565795,...,10.000000,10.000000,NaN,3.000000,2.000000,1.000000,0.000000,2.140000,1.000000,14424.500000
max,NaN,NaN,NaN,3.079089e+08,NaN,1277.000000,1277.000000,NaN,45.700200,-73.480770,...,10.000000,10.000000,NaN,160.000000,160.000000,29.000000,14.000000,13.540000,2.000000,20045.000000

This is certainly a lot more useful glance at the entire dataset. Firstly we get a nicely formated table and we can scan the columns and useful stats about each column such as mean and standard deviation. Of course this still tells us nothing about what the non numeric data looks like. Let's try other approaches.

In [12]:
print(list(df.columns))

['listing_url', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'security_deposit', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'price_rating', 'Id']

Okay so `df.columns` returns a list of column names which is going to be really useful for looping through column names for instance. We can ofcourse index into this list like we would normally do.

In [14]:
print(df.columns[0])

listing_url

In [15]:
print(df.describe())

       thumbnail_url  medium_url  xl_picture_url       host_id  \
count            0.0         0.0             0.0  7.631000e+03
mean             NaN         NaN             NaN  7.729931e+07
std              NaN         NaN             NaN  8.141532e+07
min              NaN         NaN             NaN  2.277000e+03
25%              NaN         NaN             NaN  1.224305e+07
50%              NaN         NaN             NaN  4.290398e+07
75%              NaN         NaN             NaN  1.266535e+08
max              NaN         NaN             NaN  3.079089e+08

       host_acceptance_rate  host_listings_count  host_total_listings_count  \
count                   0.0          7629.000000                7629.000000
mean                    NaN            14.322847                  14.322847
std                     NaN            91.178241                  91.178241
min                     NaN             0.000000                   0.000000
25%                     NaN             1.000000                   1.000000
50%                     NaN             1.000000                   1.000000
75%                     NaN             4.000000                   4.000000
max                     NaN          1277.000000                1277.000000

       neighbourhood_group_cleansed     latitude    longitude  ...  \
count                           0.0  7631.000000  7631.000000  ...
mean                            NaN    45.516315   -73.589346  ...
std                             NaN     0.030925     0.042372  ...
min                             NaN    45.404540   -73.951930  ...
25%                             NaN    45.498330   -73.602985  ...
50%                             NaN    45.519820   -73.579930  ...
75%                             NaN    45.534180   -73.565795  ...
max                             NaN    45.700200   -73.480770  ...

       review_scores_location  review_scores_value  license  \
count             7631.000000          7629.000000      0.0
mean                 9.664657             9.432822      NaN
std                  0.689070             0.902338      NaN
min                  2.000000             2.000000      NaN
25%                  9.000000             9.000000      NaN
50%                 10.000000            10.000000      NaN
75%                 10.000000            10.000000      NaN
max                 10.000000            10.000000      NaN

       calculated_host_listings_count  \
count                     7631.000000
mean                         5.908531
std                         17.950559
min                          1.000000
25%                          1.000000
50%                          1.000000
75%                          3.000000
max                        160.000000

       calculated_host_listings_count_entire_homes  \
count                                  7631.000000
mean                                      5.020705
std                                      17.850555
min                                       0.000000
25%                                       1.000000
50%                                       1.000000
75%                                       2.000000
max                                     160.000000

       calculated_host_listings_count_private_rooms  \
count                                   7631.000000
mean                                       0.711964
std                                        2.078313
min                                        0.000000
25%                                        0.000000
50%                                        0.000000
75%                                        1.000000
max                                       29.000000

       calculated_host_listings_count_shared_rooms  reviews_per_month  \
count                                  7631.000000        7631.000000
mean                                      0.051369           1.531162
std                                       0.692580           1.871970
min                                       0.000000           0.010000
25%                                       0.000000           0.220000
50%                                       0.000000           0.760000
75%                                       0.000000           2.140000
max                                      14.000000          13.540000

       price_rating            Id
count   7631.000000   7631.000000
mean       0.442537   9636.966846
std        0.611870   5576.696895
min        0.000000      0.000000
25%        0.000000   4927.500000
50%        0.000000   9660.000000
75%        1.000000  14424.500000
max        2.000000  20045.000000

[8 rows x 45 columns]

Hmm, maybe wrapping `df.describe` in a `print()` is not such a good idea as we lose the pretty formatting that Jupyter does.

## Data Manipulation

### Selecting Columns

We can access an entire column by directly using its column label as an object member. This returns the column as a series.

In [16]:
df.bathrooms

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
7626    1.0
7627    2.0
7628    1.0
7629    1.0
7630    1.0
Name: bathrooms, Length: 7631, dtype: float64

In [19]:
type(df.bathrooms)

pandas.core.series.Series

We can also run `describe` on this series

In [20]:
df.bathrooms.describe()

count    7622.000000
mean        1.112831
std         0.474237
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        20.000000
Name: bathrooms, dtype: float64

We can also index multiple columns by name. Doing so returns another dataframe with the selected columns

In [21]:
df[['bathrooms', 'bedrooms']]

      bathrooms  bedrooms
0           1.0       2.0
1           1.0       1.0
2           1.0       2.0
3           1.0       2.0
4           1.0       2.0
...         ...       ...
7626        1.0       2.0
7627        2.0       2.0
7628        1.0       1.0
7629        1.0       1.0
7630        1.0       2.0

[7631 rows x 2 columns]

And since it returns another dataframe, we can also call describe with this.

In [22]:
df[['bathrooms', 'bedrooms', 'beds', 'guests_included']].describe()

         bathrooms     bedrooms         beds  guests_included
count  7622.000000  7627.000000  7626.000000      7631.000000
mean      1.112831     1.343516     1.743771         1.822566
std       0.474237     0.934098     1.155192         1.411883
min       0.000000     0.000000     0.000000         1.000000
25%       1.000000     1.000000     1.000000         1.000000
50%       1.000000     1.000000     1.000000         1.000000
75%       1.000000     2.000000     2.000000         2.000000
max      20.000000    20.000000    20.000000        16.000000

### Row Selection by Index

We can select rows by index using `df.iloc`